<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jmedinilla.pi.condominapp">

    <application
        android:name=".ModelApplication"
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:icon="@drawable/applogo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activity_SplashScreen"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity_Login_Main" />
        <activity android:name=".Activity_Login_Information" />
        <activity android:name=".Activity_Login_Admin" />
        <activity
            android:name=".Activity_Home"
            android:screenOrientation="portrait" />
        <activity android:name=".Activity_Main_List_Incidents" />
        <activity android:name=".Activity_Main_List_Diary" />
        <activity android:name=".Activity_Main_List_Board" />
        <activity android:name=".Activity_Main_List_Board_Community" />
        <activity android:name=".Activity_Main_List_Documents" />
        <activity android:name=".Activity_Main_List_Meetings" />
        <activity android:name=".Activity_Main_Information" />
        <activity android:name=".Activity_Main_Profile" />
        <activity android:name=".Activity_Main_Settings" />
        <activity android:name=".forms.Form_Board" />
        <activity android:name=".forms.Form_Board_Community" />
        <activity android:name=".forms.Form_Diary" />
        <activity android:name=".forms.Form_Documents" />
        <activity android:name=".forms.Form_Incidents" />
        <activity android:name=".forms.Form_Meetings" />
        <activity android:name=".ProfileActivity"></activity>
    </application>

</manifest>